
    <div class="app">


{{#if user}}
    <form method="POST" action="/message" class="auth-card create-card">
        <span class="big">Create a new message</span>
        <label>
            <span class="form-name">Subject</span>
            <input required name="subject" />
        </label>
        <label>
             <span class="form-name">Message</span>
            <input required name="message" maxlength="560" />
        </label>
        <input class="submit" type="submit" value="Post"/>
    </form>
 

{{/if}}

{{#if posts}}
    <ul class="posts">
    {{#each posts}}
        <li class="message">
            <h2 class="message-subject">{{this.subject}}</h2>
            {{#if this.user.full_name}}
            <h3 class="message-name">{{this.user.full_name}}</h3>
            {{/if}}
            <p class="message-text">{{{this.message}}}</p>
            <p class="message-date">{{this.date_formatted}}</p>
        </li>
    {{/each}}
    </ul>
{{/if}}
    </div>
