
<form method="POST" action="" class="auth-card" style="width: 500px">
    <p class="marg-bot big">Twenty-four red socks and twenty-four blue socks are lying in
a drawer in a dark room.<br /><br />
 What is the minimum number of
socks I must take out of the drawer which will guarantee
that I have at least two socks of the same color? </p>
<div class="spread">
    <label class="space">
        <span class="form-name">Submit a number...</span>
        <input type="number" name="code" min="0" max="48" required/>
    </label>
    <input class="submit" type="submit" value="...and join the club"/>
</div>

{{#if error}}
<p class="error">{{error}}</p>
{{/if}}
</form>
