<form action="/log-in" method="POST">
<h1> Yo! Please log in.</h1>
  <label for="username">Email</label>
  <input name="username" type="email" type="text" />
  <label for="password">Password</label>
  <input name="password" type="password" />
  <button>Log In</button>
</form>