<form action="/log-in" method="POST" class="auth-card">
<h1 class="marg-bot spread">Log In <a class='grey' href="/sign-up">Sign Up</a></h1>
  <label>
    <span class="form-name">Email</span>
  <input name="username" type="email" type="text" />
  </label>
  <label>
    <span class="form-name">Password</span>
  <input name="password" type="password" />

  </label>
  <input class="marg-top submit" type="submit" value="Log In" />
</form>