  <h1>Sign Up</h1>
  <form action="" method="POST">
    <label for="first">First name</label>
    <input name="first" placeholder="First name" type="text" required/>
    <label for="last">Last name</label>
    <input name="last" placeholder="Last name" type="text" required/>
    <label for="username">Email address</label>
    <input name="username" type="email" placeholder="email" type="text" required/>  
    <label for="password">Password</label>
    <input name="password" type="password" required minlength="8"/>
    <label for="confirm">Confirm password</label>
    <input name="confirm" type="password" required minlength="8"/>
    <button>Sign Up</button>
  </form>
