  <form action="" method="POST" class="auth-card">
  <h1 class="marg-bot spread">Sign Up <a class='grey' href="log-in">Log In</a></h1>

    <label>
      <span class="form-name">First name</span>
    <input name="first" type="text" required/>
    </label>

    <label>
      <span class="form-name">Last name</span>
      <input name="last" type="text" required/>
    </label>

    <label>
      <span class="form-name">Email</span>
      <input name="username" type="email" type="text" required/>  
    </label>
    
    <label style="margin-top: 1.5rem">
      <span class="form-name">Password</span>
    <input name="password" type="password" required minlength="8"/>
    </label>

    <label>
      <span class="form-name">Confirm password</span>
      <input name="confirm" type="password" required minlength="8"/>
    </label>

    <input class="marg-top submit"  type="submit" value="Sign Up" />
  </form>
